flask==3.0.2
flask-socketio==5.3.6
flask-sqlalchemy==3.1.1
python-socketio==5.11.0
websockets==12.0
websocket-client==1.6.4
assemblyai==0.42.1
google-generativeai==0.8.3
pydantic==2.9.2
pydantic-core==2.23.4
requests==2.32.3
werkzeug==3.0.4
sqlalchemy==2.0.25
gunicorn==21.2.0
gtts==2.5.1
email-validator==2.1.1
psycopg2-binary==2.9.9
socketio